<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>HOME PAGE</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nesciunt minima qui, voluptates temporibus,
        officia nihil porro eveniet deserunt earum iure error sit tenetur soluta impedit eligendi eius pariatur
        corrupti!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel facere officia, excepturi cupiditate animi impedit
        porro sunt sequi, expedita, a reiciendis vero assumenda at error! Blanditiis quaerat pariatur incidunt quae.</p>
</body>

</html>